// .p-Home body {
//     font-family: sans-serif;
// }
.p-Home.Header {
    // font-family: DM Sans;
    color: #696969;
    font-weight: bold;
    font-family: sans-serif;
}
.p-Home.TextBox13 {
    font-weight: bold;
    font-family: sans-serif;
}
.p-Home.TextBox14 {
    font-weight: bold;
    font-family: sans-serif;
}
.p-Home.TextBox19 {
    letter-spacing: 1px;
    font-family: sans-serif;
}
.p-Home.TextBox20 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox21 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox22 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox23 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox24 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox25 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox26 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox27 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox28 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox29 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox30 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox31 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox32 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox33 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox34 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox35 {
    font-family: sans-serif;
}
.p-Home.TextBox36 {
    font-family: sans-serif;
}
.p-Home.TextBox37 {
    font-family: sans-serif;
}
.p-Home.TextBox38 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox39 {
    font-family: sans-serif;
}
.p-Home.TextBox40 {
    font-family: sans-serif;
}
.p-Home.TextBox41 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox48 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox49 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox50 {
    font-family: sans-serif;
}
.p-Home.TextBox51 {
    font-family: sans-serif;
}
.p-Home.TextBox52 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox53 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox54 {
    font-family: sans-serif;
}
.p-Home.TextBox55 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox56 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox57 {
    font-family: sans-serif;
}
.p-Home.TextBox58 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox59 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox60 {
    font-family: sans-serif;
}
.p-Home.TextBox61 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox62 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox63 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox64 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox65 {
    font-family: sans-serif;
}
.p-Home.TextBox66 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox67 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox68 {
    font-family: sans-serif;
}
.p-Home.TextBox69 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox70 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox71 {
    font-family: sans-serif;
}
.p-Home.TextBox72 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox73 {
    font-family: sans-serif;
}
.p-Home.TextBox78 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox79 {
    font-family: sans-serif;
}
.p-Home.TextBox80 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox81 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox82 {
    font-family: sans-serif;
}
.p-Home.TextBox83 {
    font-family: sans-serif;
}
.p-Home.TextBox84 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox85 {
    font-family: sans-serif;
}
.p-Home.TextBox89 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox91 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox92 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox93 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox94 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox95 {
    font-family: sans-serif;
    font-weight: 600;
}
.p-Home.TextBox107 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox106 {
    font-family: sans-serif;
    font-weight: 600;
}
.p-Home.TextBox122 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox123 {
    font-family: sans-serif;
    font-weight: 600;
}
.p-Home.TextBox125 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox124 {
    font-family: sans-serif;
    font-weight: 600;
}
.p-Home.TextBox126 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox127 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox128 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox129 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox130 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox131 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox132 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox133 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox134 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox135 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox136 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox137 {
    font-family: sans-serif;
    font-weight: 550;
}
.p-Home.TextBox153 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox154 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox140 {
    font-family: sans-serif;
    font-weight: bold;
}
// .p-Home.TextBox140 {
//     font-family: sans-serif;
//     font-weight: bold;
// }
.p-Home.TextBox167 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox166 {
    font-family: sans-serif;
    font-weight: bold;
}
.p-Home.TextBox170 {
    font-family: sans-serif;
    font-weight: 500;
}
.p-Home.TextBox171 {
    font-weight: bold;
}
.p-Home.TextBox172 , .TextBox173, .TextBox174, .TextBox175, .TextBox176, .TextBox177, .TextBox178 {
    letter-spacing: 0.5px;
}
.p-Home.TextBox186 {
    font-weight: bold;
}
.p-Home.TextBox179 , .TextBox180, .TextBox181, .TextBox182, .TextBox183, .TextBox184, .TextBox185 {
    letter-spacing: 0.5px;
}
.p-Home.TextBox187 {
    font-weight: bold;
}